{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Создать кассу</title> {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
              <!-- start Person Info -->
              <div class="card">
                <div class="card-header text-bg-primary">
                  <h4 class="mb-0 text-white">Создать кассу</h4>
                </div>
  
                <!-- Форма-->
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div>
                    <div class="card-body">
                      <h4 class="card-title">Информация</h4>
                      <p class="text-danger">{{error}}</p>
                      <div class="row pt-3">
  
                        <!--ФИО-->
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Название</label>
                            <input type="text" id="name" name="name" class="form-control" value="{{ form_data.name }}"/>
                          </div>
                        </div>
                        <!--Телефон-->
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Комментарий</label>
                            <textarea name="description" id="description" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
  
                    
                  </div>
                  <div class="form-actions">
                    <div class="card-body border-top">
                      <button type="submit" class="btn btn-primary" id="buttonSave">
                        Сохранить
                      </button>
                      <a href="{% url 'customer:cashier_list' %}" class="btn bg-danger-subtle text-danger ms-6">
                        Отмена
                      </a>
                    </div>
                  </div>
                </form>
  
              </div>
              <!-- end Person Info -->
            </div>
  </div>
  



{% endblock %}