{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Создать клиента</title> {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
              <!-- start Person Info -->
              <div class="card">
                <div class="card-header text-bg-primary">
                  <h4 class="mb-0 text-white">Создать клиента</h4>
                </div>
  
                <!-- Форма-->
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div>
                    <div class="card-body">
                      <h4 class="card-title">Личная информация</h4>
                      <p class="text-danger">{{error}}</p>
                      <div class="row pt-3">
  
                        <!--ФИО-->
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label required">Ф.И.О <span class="text-danger">*</span></label>
                            <input type="text" id="full_name" name="full_name" class="form-control" value="{{ form_data.full_name }}" required/>
                            <div class="invalid-feedback">Заполните поле Ф.И.О.</div>
                          </div>
                        </div>
                        <!--Телефон-->
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Телефон</label>
                            <input type="phone" id="phone" name="phone" class="form-control international-inputmask" value="{{ form_data.phone }}"/>
                          </div>
                        </div>
                      </div>
  
                      <div class="row">
                        <!--Пол-->
                        <div class="col-md-6">
                          <div class="mb-3 has-success">
                            <label class="form-label">Пол</label>
                            <select class="form-select" id="gender" name="gender">
                              {% for item in gender %}
                                <option value="{{item.id}}">{{item.name}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <!--День рождения-->
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">День рождения</label>
                            <div class="input-group date">
                              
                              <input type="text" class="form-control datepicker" name="birth_date" placeholder="дд.мм.гггг" />
        
                              <span class="input-group-addon input-group-text">
                                <i class="ti ti-calendar fs-5"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="row">
                        <!--Адрес-->
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Адрес</label>
                            <input type="text" id="address" name="address" class="form-control"/>
                          </div>
                        </div>
  
                    <hr />
                    <div class="card-body">
                      <h4 class="card-title mb-4">Доп информация</h4>
  
                      <div class="row">
                        <!--Номер договора-->
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Номер договора</label>
                            <input type="text" id="contract_number" name="contract_number" class="form-control"/>
                          </div>
                        </div>
                        <!--Тип договора-->
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Тип договора</label>
                            <input type="text" id="contract_type" name="contract_type" class="form-control"/>
                          </div>
                        </div>
                      </div>
  
                      <div class="row">
                        <!--Дата начала обучения-->
                        <div class="col-md-6">
                          <div class="mb-3">

                            <label class="form-label">Дата начала обучения</label>
                            <div class="input-group date">
                              
                              <input type="text" class="form-control datepicker" name="start_date" placeholder="дд.мм.гггг" />
        
                              <span class="input-group-addon input-group-text">
                                <i class="ti ti-calendar fs-5"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <!--Группы-->
                        <div class="col-md-6">
                          <div class="mb-3 has-success">
                            <label class="form-label" help_text="Чтобы выбрать сразу несколько групп зажмите ctrl на клавиатуре">Группы</label>
                            <small class="form-text text-muted d-block mb-2" style="font-size: 0.875rem;">
                              <i class="ti ti-info-circle me-1"></i>Чтобы выбрать сразу несколько групп зажмите ctrl на клавиатуре
                            </small>
                            <select class="select2 form-control" id="group" name="group" multiple="multiple">
                              {% for item in groups %}
                                <option value="{{item.id}}">{{item.name}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
  
                      <div class="row">
                        <!--Спортивный разряд-->
                        <div class="col-md-6">
                          <div class="mb-3 has-success">
                            <label class="form-label">Спортивный разряд</label>
                            <select class="form-select" id="sport_rank" name="sport_rank">
                              {% for item in sport_category %}
                                <option value="{{item.id}}" {% if item.id == 8 %}selected{% endif %}>{{item.name}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <!--Фото-->
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Фото</label>
                            <input type="file" id="photo" name="photo" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-actions">
                      <div class="card-body border-top">
                        <button type="submit" class="btn btn-primary" id="buttonSave">
                          Сохранить
                        </button>
                        <a href="{% url 'customer:customer_list' %}" class="btn bg-danger-subtle text-danger ms-6">
                          Отмена
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
  
              </div>
              <!-- end Person Info -->
            </div>
  </div>
  

{% endblock %}