{% extends  'base2.html' %}
{% load static %}
{% block title %} <title>Изменить пароль</title> {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
              <!-- start Person Info -->
              <div class="card">
                <div class="card-header text-bg-primary">
                  <h4 class="mb-0 text-white">Изменить пароль</h4>
                </div>
  
                <!-- Форма-->
                <form action="" method="post">
                  {% csrf_token %} 
                  <div>
                    <div class="card-body">
                      <p class="text-danger">{{error}}</p>
                      <div class="row pt-3">
  
                        <!--Название-->
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <input type="password" id="current_password" name="current_password" class="form-control"/>
                          </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                              <label class="form-label">Новый пароль</label>
                              <input type="password" id="new_password" name="new_password" class="form-control"/>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                              <label class="form-label">Подтвердите пароль</label>
                              <input type="password" id="confirm_password" name="confirm_password" class="form-control"/>
                            </div>
                        </div>

                      </div>
                    </div>
  
                    <div class="form-actions">
                      <div class="card-body border-top">
                        <button type="submit" class="btn btn-primary" id="buttonSave">
                            Изменить
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
  
              </div>
              <!-- end Person Info -->
            </div>
  </div>
  
  
  



{% endblock %}