{% extends  'base.html' %}
{% load static %}
{% block title %} <title>Добавить клиентов в группу</title> {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
              <!-- start Person Info -->
              <div class="card">
                <div class="card-header text-bg-primary">
                  <h4 class="mb-0 text-white">Добавить клиентов в группу</h4>
                </div>
  
                <!-- Форма-->
                <form action="" method="post">
                  {% csrf_token %} 
                  <div>
                    <div class="card-body">
                      <p class="text-danger">{{error}}</p>
                      <div class="row pt-3">

                        <div class="col-md-12">
                          <div class="mb-3 has-success">
                            <label class="form-label" help_text="Чтобы выбрать сразу несколько клиентов зажмите ctrl на клавиатуре">Выберите клиентов</label>
                            <small class="form-text text-muted d-block mb-2" style="font-size: 0.875rem;">
                              <i class="ti ti-info-circle me-1"></i>Чтобы выбрать сразу несколько клиентов зажмите ctrl на клавиатуре
                            </small>
                            <select class="select2 form-select" id="custumer" name="custumer" multiple="multiple">
                              {% for item in custumers %}
                                <option value="{{item.id}}" {% if item in selected_custumers %}selected{% endif %}>{{item.full_name}}</option>
                              {%  endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
  
                    </div>
  
                    <div class="form-actions">
                      <div class="card-body border-top">
                        <button type="submit" class="btn btn-primary" id="buttonSave">
                            Добавить
                        </button>
                        <a href="{% url 'groups_custumer:groups_detail' group.id %}" class="btn bg-danger-subtle text-danger ms-6">
                          Отмена
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
  
              </div>
              <!-- end Person Info -->
            </div>
  </div>

  



{% endblock %}