{% extends "base.html" %}
{% block title %}<title>{% if news_item %}Редактировать{% else %}Добавить{% endif %} новость</title>{% endblock %}

{% block content %}
<div class="card w-100 position-relative overflow-hidden">
  <div class="px-4 py-3 mt-2 border-bottom">
    <h4 class="card-title mb-0 d-flex align-items-center">
      <iconify-icon icon="solar:news-bold" class="fs-3 text-primary me-2"></iconify-icon>
      {% if news_item %}Редактировать{% else %}Добавить{% endif %} новость
    </h4>
  </div>
  <form method="post" enctype="multipart/form-data" class="p-4">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 mb-3">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ news_item.title|default_if_none:'' }}" required>
      </div>
      <div class="col-12 mb-3">
        <label for="descriptions" class="form-label">Описание</label>
        <textarea class="form-control" id="descriptions" name="descriptions" rows="4" required>{{ news_item.descriptions|default_if_none:'' }}</textarea>
      </div>
      <div class="col-12 mb-3">
        <label for="text" class="form-label">Статус</label>
        <select class="form-select" id="status" name="status" required>
          <option value="" disabled {% if not news_item.status %}selected{% endif %}>Выберите статус (Базово создается со статусом "Черновик")</option>
          {% for value, label in status_choices %}
            <option value="{{ value }}" {% if news_item.status == value %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 mb-3">
        <label for="image" class="form-label">Картинка</label>
        {% if news_item and news_item.image %}
          <img src="{{ news_item.image.url }}" alt="" style="max-width: 200px; display: block; margin-bottom: 10px;">
        {% endif %}
        <input type="file" class="form-control" id="image" name="image">
      </div>
    </div>
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-success">
        <i class="bi bi-check-circle me-1"></i> Сохранить
      </button>
      <a href="{% url 'news:news_list' %}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Назад
      </a>
    </div>
  </form>
</div>
{% endblock %}
