{% extends  'base2.html' %}
{% load static %}
{% block title %} <title>Добавить занятие</title> {% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-bg-primary">
        <h4 class="mb-0 text-white">Добавить занятие</h4>
      </div>

      <form action="" method="post">
        {% csrf_token %} 
        <div class="card-body">
          <h4 class="card-title">Информация</h4>
          <p class="text-danger">{{error}}</p>
          <div class="row pt-3">

            <div class="col-md-12">
              <div class="mb-3 has-success">
                <label class="form-label">Выберите Группы</label>
                <select class="form-select" id="groups_id" name="groups_id">
                  <option value="">Выберите Группы</option>
                  {% for group in groups %}
                    <option value="{{group.id}}">{{group.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
                      
            <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Дата</label>
                  <div class="input-group date">       
                    <input type="text" class="form-control" name="start_date" placeholder="дд.мм.гггг"/>
                    <span class="input-group-addon input-group-text">
                      <i class="ti ti-calendar fs-5"></i>
                    </span>
                  </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Начало</label>
                  <input type="time" id="strat" name="strat" class="form-control"/>
                </div>
            </div>
                      
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Конец</label>
                <input type="time" id="end" name="end" class="form-control"/>
              </div>
            </div>
                     
            <div class="col-md-12">
              <div class="mb-3 has-success">
                <label class="form-label">Выберите Тренеров</label>
                <select class="form-select" id="employe" name="employe">
                  <option value="">Выберите Тренеров</option>
                  {% for item in employe %}
                    <option value="{{item.id}}">{{item.full_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Комментарий</label>
                <textarea name="comment" id="comment" class="form-control"></textarea>
              </div>
            </div>

            
          
          </div>
        </div>
        <div class="form-actions">
          <div class="card-body border-top">
            <button type="submit" class="btn btn-primary" id="buttonSave">
                Сохранить
              </button>
              <a href="{% url 'group_classe:group_classess' %}" class="btn bg-danger-subtle text-danger ms-6">
                Отмена
              </a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}